.download {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg-callout.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        @include titles($title-color);
        width: 80%;
        font-size: 60px;
        margin-bottom: 30px;
        line-height: 1.2;
    }

    a {
        @include button(#0879b2);
        &:hover {
            background-color: #015884;
        }
    }
}


@media screen and (min-width: 1000px) {
    .download {
        h1 {
            width: 40%;
        }
    }
}