.header {
    width: 100%;
    height: 80vh;
    color: $title-color;
    background-image: url("../img/bg-masthead-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .header-i {
        font-size: 17px;
        padding: 17px;
        background-color: rgba(68, 56, 35, 0.5);
        color: #fff;
        position: fixed;
        top: 15px;
        right: 15px;
    }

    .header-info {
        font-family: $main-font;
        text-align: center;
        color: $title-color;
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;

        .main-title {
            font-size: 60px;
            font-weight: 700;
        }

        .second-title {
            font-size: 30px;
            font-style: italic;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .button {
            text-decoration: none;
            color: #fff;
            font-family: $main-font;
            line-height: 50px;
            border: 1px solid transparent;
            border-radius: .25rem;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
            font-weight: 700;
            font-size: 16px;
            padding: 8px 40px;
        }

        .buttonblue {
            background-color: #0879b2;
            margin: 0 auto;
            transition: background-color .15s;
        &:hover {
            background-color: #015884;}
        }
    }
}

@media screen and (min-width: 1000px) {
    .header {
        height: 100vh;
        background-image: url("../img/bg-masthead.jpg");

        .header-info {
            width: 100%;
            height: 70%;

            .second-title {
                font-size: 30px;
            }

            .main-title {
                font-size: 90px;
            }
            
        }
    }
}