.map-header {
    width: 100%;
    height: 60vh;
    background-color: #0879b2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    h1 {
        @include titles($title-color);
        margin-bottom: 50px;
        color: #fff;
    }

    a {
        @include button(#fff);
        color: $title-color;
        &:hover {
            background-color: #c9d0db;
        }
    }
}

.map {
    width: 100%;
    height: 400px;
}

.mapouter {
    text-align: right;
    height: 400px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
}