.pharagraphs {
  font-size: 22px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #6c757d;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  width: 100%;
  height: 80vh;
  color: #443823;
  background-image: url("../img/bg-masthead-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header .header-i {
  padding: 17px;
  background-color: rgba(52, 58, 64, 0.5);
  color: #fff;
  position: fixed;
  top: 15px;
  right: 15px;
}

.header .header-info {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #443823;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.header .header-info .main-title {
  font-size: 70px;
  font-weight: 700;
}

.header .header-info .second-title {
  font-size: 30px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header .header-info .button {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 50px;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  padding: 8px 40px;
  margin: 0 auto;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
  background-color: #0879b2;
  cursor: pointer;
}

.header .header-info .button:hover {
  background-color: #015884;
}

.header .side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0879b2;
  overflow-x: hidden;
  padding-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .side-menu h1 {
  font-size: 20px;
  color: #fff;
  padding: 0 10px;
  margin-bottom: 20px;
  font-weight: 200;
  font-family: "Source Sans Pro", sans-serif;
}

.header .side-menu a {
  padding: 20px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
}

.header .side-menu a:hover {
  background-color: #015884;
}

.header .side-menu #close-button {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header {
    height: 100vh;
    background-image: url("../img/bg-masthead.jpg");
  }
  .header .header-info {
    width: 100%;
    height: 70%;
  }
  .header .header-info .second-title {
    font-size: 30px;
  }
  .header .header-info .main-title {
    font-size: 90px;
  }
}

.about {
  background-color: #f8f9fa;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #443823;
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 40px;
}

.about a {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 50px;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  padding: 8px 40px;
  margin: 0 auto;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
  background-color: #424447;
  cursor: pointer;
}

.about a:hover {
  background-color: #1c1b1a;
}

.services {
  background-color: #0879b2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.services .services-info h6 {
  text-align: center;
  font-size: 18px;
  color: #ecb807;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 60px;
}

.services .services-info h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.services .services-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .services-containers .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.services .services-containers .services-container i {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  padding: 30px;
  font-size: 40px;
  color: #0879b2;
  margin: 0 auto;
}

.services .services-containers .services-container h3 {
  text-align: center;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.services .services-containers .services-container p {
  text-align: center;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  .services .services-containers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services .services-containers .services-container {
    margin: 30px 40px 60px 30px;
  }
}

.download {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg-callout.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #443823;
  width: 80%;
  font-size: 60px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.download a {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 50px;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  padding: 8px 40px;
  margin: 0 auto;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
  background-color: #0879b2;
  cursor: pointer;
}

.download a:hover {
  background-color: #015884;
}

@media screen and (min-width: 1000px) {
  .download h1 {
    width: 40%;
  }
}

.portfolio h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #443823;
  margin-bottom: 50px;
}

.portfolio h6 {
  text-align: center;
  font-size: 18px;
  color: #ecb807;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 60px;
}

.portfolio .port-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.port-img {
  width: 80vw;
  height: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .port-img {
    width: 39vw;
    margin-bottom: 0;
  }
  .portfolio .port-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */